/* Общий сброс */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

/* Фиксированная шапка */
header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;   
  margin-bottom: 30px;
  border-radius: 5px;
}

/* Контент не уходит под шапку */
main {
  margin-top: 60px;
  flex: 1;               /* растягивает main, прижимает footer вниз */
  padding: 24px 16px;
}

/* Контейнер по центру */
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
}
section {
  line-height: 1.8;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 30px;
}
p {
  color: gray;
}
h2 {
  line-height: 1.8;
}
footer {
  padding: 20px;
  text-align: left;
}

.goods article img {
  width: 30%;
}
article {
  
}