/* Общий сброс */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Фиксированная шапка */
header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
}

/* Контент не уходит под шапку */
main {
  margin-top: 60px;
  flex: 1;               /* растягивает main, прижимает footer вниз */
  padding: 24px 16px;
}

/* Контейнер по центру */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}

footer {
  padding: 24px;
  text-align: left;
}